<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--本机-->
    <!--<add key="connetStr" value="Data Source=127.0.0.1;Initial Catalog=ZJHL;Persist Security Info=False;User ID=sa;Password=sa"/>-->
    <!--MetroX网-->
    <!--<add key="connetStr" value="Data Source=hds-114.hichina.com;Initial Catalog=hds1140175_db;Persist Security Info=False;User ID=hds1140175;Password=vcnet2003"/>-->
    <!--浩联-->
    <add key="connetStr" value="Data Source=hds-114.hichina.com;Initial Catalog=hds1140856_db;Persist Security Info=False;User ID=hds1140856;Password=ktvtgabc685266abc"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
